body {
    background-color: #EA0003;
}

h1 {
    color: #FFBB00;
    font-size: 100px;
    font-family: 'Comic Sans MS';
    text-align: center;
}

.menuBar {
    float: left;
    font-size: 12px;
    font-family: Arial;
    text-align: left;
    background-color: #E87475;
    width: 10%;
    height: 500px;
    margin-right: 50px;
}

section {
    
}

#logo {
    float: left;
    width: 200px;
    height: 200px;
}

header {
    margin-bottom: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

table {
    font-size: 16px;
    background-color: #F88485;
    padding: 5px, 5px, 5px, 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 75%;
}

th {
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}